<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

	<header th:fragment="topHeader" class="app-header">
	<div class="header-brand">
		<i class="bi bi-capsule"></i>
		<span>Botica Conquistadores Farma</span>
	</div>

	<div class="header-user">
		<i class="bi bi-person-circle"></i>

		<span
			th:text="${#strings.replace(#authentication.principal.authorities[0].authority, 'ROLE_', '') + ' | ' + #strings.toUpperCase(#authentication.name)}">
			ADMIN | USUARIO
		</span>
	</div>
</header>

</body>

</html>