<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Formulario de Categoría</title></head>
<body>
    <h1 th:text="${categoria.idCategoria != null} ? 'Editar Categoría' : 'Nueva Categoría'"></h1>
    
    <form th:action="@{/categorias/guardar}" th:object="${categoria}" method="post">
        <input type="hidden" th:field="*{idCategoria}" />
		<input type="hidden" th:field="*{estado}" />

        <div>
            <label>Nombre:</label>
            <input type="text" th:field="*{nombre}" />
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color:red"></span>
        </div>
        
        <button type="submit">Guardar</button>
        <a th:href="@{/categorias}">Cancelar</a>
    </form>
</body>
</html>