<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Formulario de Producto</title>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
	<h1 th:text="${producto.idProducto != null} ? 'Editar Producto' : 'Nuevo Producto'"></h1>

	<form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
		<input type="hidden" th:field="*{idProducto}" />
		<input type="hidden" th:field="*{estado}" />

		<div>
			<label>Código:</label>
			<input type="text" th:field="*{codigo}" />
			<span th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" style="color:red"></span>
		</div>

		<div>
			<label>Nombre:</label>
			<input type="text" th:field="*{nombre}" />
			<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color:red"></span>
		</div>

		<div>
			<label>Categoría:</label>
			<select th:field="*{categoria.idCategoria}" class="select-buscador" style="width: 300px;" required>
				<option value="">-- Buscar y Seleccionar Categoría --</option>
				<option th:each="cat : ${listaCategorias}" th:value="${cat.idCategoria}" th:text="${cat.nombre}">
				</option>
			</select>
			<span th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" style="color:red"></span>
		</div>

		<div>
			<label>Proveedor:</label>
			<select th:field="*{proveedor.idProveedor}" class="select-buscador" style="width: 300px;" required>
				<option value="">-- Buscar y Seleccionar Proveedor --</option>
				<option th:each="prov : ${listaProveedores}" th:value="${prov.idProveedor}" th:text="${prov.nombre}">
				</option>
			</select>
			<span th:if="${#fields.hasErrors('proveedor')}" th:errors="*{proveedor}" style="color:red"></span>
		</div>

		<div>
			<label>Precio Compra:</label>
			<input type="number" step="0.01" th:field="*{precioCompra}" />
			<span th:if="${#fields.hasErrors('precioCompra')}" th:errors="*{precioCompra}" style="color:red"></span>
		</div>

		<div>
			<label>Precio Venta:</label>
			<input type="number" step="0.01" th:field="*{precioVenta}" />
			<span th:if="${#fields.hasErrors('precioVenta')}" th:errors="*{precioVenta}" style="color:red"></span>
		</div>

		<div>
			<label>Stock Actual:</label>
			<input type="number" th:field="*{stockActual}" />
			<span th:if="${#fields.hasErrors('stockActual')}" th:errors="*{stockActual}" style="color:red"></span>
		</div>

		<div>
			<label>Stock Mínimo:</label>
			<input type="number" th:field="*{stockMinimo}" />
			<span th:if="${#fields.hasErrors('stockMinimo')}" th:errors="*{stockMinimo}" style="color:red"></span>
		</div>

		<div>
			<label>Stock Máximo:</label>
			<input type="number" th:field="*{stockMaximo}" />
			<span th:if="${#fields.hasErrors('stockMaximo')}" th:errors="*{stockMaximo}" style="color:red"></span>
		</div>

		<div>
			<label>Fecha Vencimiento:</label>
			<input type="date" th:field="*{fechaVencimiento}" />
			<span th:if="${#fields.hasErrors('fechaVencimiento')}" th:errors="*{fechaVencimiento}"
				style="color:red"></span>
		</div>

		<div th:if="${producto.idProducto != null}">
			<label>Estado del Producto:</label><br>
			<select th:field="*{estado}" class="form-select mt-1">
				<option th:value="true">Activo</option>
				<option th:value="false">Inactivo</option>
			</select>
		</div>
		<input th:if="${producto.idProducto == null}" type="hidden" th:field="*{estado}" th:value="true">

		<button type="submit">Guardar Producto</button>
		<a th:href="@{/productos}">Cancelar</a>
	</form>
	<script src="https://code.jquery.com/jquery-4.0.0.min.js"
		integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js">
	</script>
	<script>
		$(document).ready(function () {
			$('.select-buscador').select2({
				placeholder: "Escriba para buscar...",
				allowClear: true,
				language: {
					noResults: function () {
						return "No se encontraron resultados";
					}
				}
			});
		});
	</script>
</body>

</html>